{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>评论管理
                    </h5>
                </div>
                <div class="ibox-content p-md">
                    <form class="form-inline" role="form" onsubmit="return false">
                        <div class="form-group">
                            <input type="email" placeholder="请输入用户名" id="exampleInputEmail2" class="form-control">
                            <button name="queryBtn" id="queryBtn" class="btn btn-success" type="button">查询</button>
                            <button class="btn btn-primary" type="button" id="dataAddBtn">新建分类</button>
                        </div>
                    </form>

                    <table id="DataTable"></table>

                </div>
            </div>
        </div>
    </div>



<script type="text/javascript">

window.operateEvents = {
    'click .dataEditBtn': function (e, value, row, index) {
         $.ajax({
                method:"POST",
                url:'{{ url_for('admin.category_query') }}',
                dataType:"JSON",
                data:{'cid':value},
                success:function(response){
                    if(response.code == 0){
                        $('#category_content').val(response.data[0].category_content);
                        $("input:radio[name=category_status][value="+ response.data[0].category_status + "]").attr("checked",true);
                        $('#category_description').val(response.data[0].category_description);
                        $('#category_id').val(response.data[0].category_id);
                        $('#DataModal').modal('show');
                    }
                }
        })
     },
    'click .dataDelBtn': function (e, value, row, index) {

        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消']
        }, function(){
            $.ajax({
                method:"POST",
                url:'{{ url_for('admin.category_delete') }}',
                dataType:"JSON",
                data:{'cid':value},
                success:function(response){
                    layer.alert(response.message);
                    $('#DataTable').bootstrapTable('refresh');
                }
            })      
        }, function(){})
     }
};


$(function () {
     //1.初始化Table
     var oTable = new TableInit();
     oTable.Init();
});



var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function () {
        $('#DataTable').bootstrapTable({
            url: '{{url_for('admin.admin_comment')}}',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            //toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
           // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            contentType: "application/x-www-form-urlencoded",
            //strictSearch: true,
            //showColumns: true,                  //是否显示所有的列
           // showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "no",                     //每一行的唯一标识，一般为主键列
            //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [{
                        field: 'number',
                        title: '序号',
                        formatter: function(value, row, index){
                            var pageSize    = $('#DataTable').bootstrapTable('getOptions').pageSize;
                            var pageNumber  = $('#DataTable').bootstrapTable('getOptions').pageNumber;
                            return '<span class="label label-success">' + (pageSize * (pageNumber - 1) + index + 1 ) + '</span>';
                        }
                },
                {
                    field: 'board_user_nickname',
                    title: '作者'
                }, {
                    field: 'board_user_url',
                    title: '个人主页'
                }, {
                    field: 'board_user_email',
                    title: '邮箱',
                }, {
                    field: 'board_content_body',
                    title: '留言内容',
                },{
                    field: 'created_at',
                    title: '创建时间'
                },
                {
                    field: '',
                    title: '操作',
                    events: 'operateEvents',
                    formatter: operateFormatter //自定义方法，添加操作按钮
                },
            ],
            rowStyle: function (row, index) {
                var classesArr = ['success', 'info'];
                var strclass = "";
                if (index % 2 === 0) {//偶数行
                    strclass = classesArr[0];
                } else {//奇数行
                    strclass = classesArr[1];
                }
                return { classes: strclass };
            },//隔行变色
        });
    };


    //得到查询的参数
    oTableInit.queryParams = function (params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset:params.offset || 1
        };
        return temp;
    };
    return oTableInit;
};


function operateFormatter(value, row, index) {//赋予的参数
    if(row.board_content_status == 0){
         return [
        '<button type="button" class="btn btn-primary btn-sm dataEditBtn" data-id=' + row.category_id + '>审核通过</button> ',
        ' <button type="button" class="btn btn-danger btn-sm dataDelBtn" data-id=' + row.category_id + '>删除</button>',
        ].join('');
    }else{
           return [
        '<button type="button" class="btn btn-primary btn-sm dataEditBtn" data-id=' + row.category_id + '>置为无效</button> ',
        ' <button type="button" class="btn btn-danger btn-sm dataDelBtn" data-id=' + row.category_id + '>删除</button>',
        ].join('');
    }

}



$(function(){
    $('body').on('click', '#dataAddBtn', function(){
        if($('#DataModal').length > 0){
            $('#DataModal').modal('show');
        }
    })

    $('body').on('click', '#dataModalCloseBtn', function(){
        if($('#DataModal').is(':visible')){
            $('#DataModal').modal('hide');
            $('#DataForm')[0].reset();
        }
    })

    $('body').on('click', '#queryBtn', function(){
        if($('#DataModal').is(':visible')){
            $('#DataModal').modal('hide');
            $('#DataForm')[0].reset();
        }
    })

    $('body').on('click', '#dataModalSubmitBtn', function(){
        var url = $(this).data('url') || ''
        if(url){
            var fd = new FormData(document.getElementById('DataForm'));
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                cache: false,                      // 不缓存
                processData: false,                // jQuery不要去处理发送的数据
                contentType: false,                // jQuery不要去设置Content-Type请求头
                data: fd,
                success:function(res){
                    layer.alert(res.message)
                    if(res.code == 0){
                        $('#dataModalCloseBtn').click();
                        $('#DataTable').bootstrapTable('refresh');
                    }
                }
            })
        }
    })
})
</script>

{% endblock %}