{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>相册一览</h5>
            </div>
            <div class="ibox-content p-md">
                <form class="form-inline" role="form" onsubmit="return false">
                    <div class="form-group">
                        <input type="email" placeholder="请输入用户名" id="exampleInputEmail2" class="form-control">
                        <button name="queryBtn" id="queryBtn" class="btn btn-success" type="button">查询</button>
                        <button class="btn btn-primary" type="button" id="dataAddBtn">新建分类</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    {% for album in albums %}
     <div class="col-sm-3">
         <div class="album">
            <a href="#" class="album_link" data-aid="{{ album[0] }}"><img src="{{ album[2] or url_for('static', filename="images/album.jpg") }}" width="99%"></a>
         </div>
         <center><p class="album_title">{{album[1]}}</p></center>
         <center><p class="album_title"></p></center>
     </div>
    {% endfor %}
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="DataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="DataForm" novalidate="novalidate">
                     <div class="form-group">
                        <label class="col-sm-3 control-label">相册名称：</label>
                        <div class="col-sm-8">
                            <input type="text" id="album_name" name="album_name" class="form-control"/>
                            <input type="hidden" id="category_id" name="category_id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态：</label>
                        <div class="col-sm-8">
                           <label class="radio-inline">
                              <input type="radio" name="album_state" value="1" checked> 有效
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="album_state" value="0"> 无效
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">描述：</label>
                        <div class="col-sm-8">
                            <textarea id="album_desc" name="album_desc" class="form-control" required="" aria-required="true"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="dataModalCloseBtn">关闭</button>
                <button type="button" class="btn btn-primary" data-url="{{ url_for('admin.admin_album') }}" id="dataModalSubmitBtn">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">

window.operateEvents = {
    'click .dataEditBtn': function (e, value, row, index) {
         $.ajax({
                method:"POST",
                url:'{{ url_for('admin.category_query') }}',
                dataType:"JSON",
                data:{'cid':value},
                success:function(response){
                    if(response.code == 0){
                        $('#category_content').val(response.data[0].category_content);
                        $("input:radio[name=category_status][value="+ response.data[0].category_status + "]").attr("checked",true);
                        $('#category_description').val(response.data[0].category_description);
                        $('#category_id').val(response.data[0].category_id);
                        $('#DataModal').modal('show');
                    }
                }
        })
     },
    'click .dataDelBtn': function (e, value, row, index) {

        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消']
        }, function(){
            $.ajax({
                method:"POST",
                url:'{{ url_for('admin.category_delete') }}',
                dataType:"JSON",
                data:{'cid':value},
                success:function(response){
                    layer.alert(response.message);
                    $('#DataTable').bootstrapTable('refresh');
                }
            })      
        }, function(){})
     }
};




function operateFormatter(value, row, index) {//赋予的参数
    return [
        '<button type="button" class="btn btn-primary btn-sm dataEditBtn" data-id=' + row.category_id + '>编辑</button> ',
        ' <button type="button" class="btn btn-danger btn-sm dataDelBtn" data-id=' + row.category_id + '>删除</button>',
    ].join('');
}

$(function(){
      $('body').on('click', '#dataAddBtn', function(){
        if($('#DataModal').length > 0){
            $('#DataModal').modal('show');
        }
     })

      $('body').on('click', '#dataModalCloseBtn', function(){
        if($('#DataModal').is(':visible')){
            $('#DataModal').modal('hide');
            $('#DataForm')[0].reset();
        }
      })

       $('body').on('click', '#dataModalSubmitBtn', function(){
            var url = $(this).data('url') || ''
            if(url){
                var fd = new FormData(document.getElementById('DataForm'));
                $.ajax({
                    url: url,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,                      // 不缓存
                    processData: false,                // jQuery不要去处理发送的数据
                    contentType: false,                // jQuery不要去设置Content-Type请求头
                    data: fd,
                    success:function(res){
                        layer.alert(res.message)
                        window.location.reload();
                    }
                })
            }
       })


       $('.album_link').click(function(){
            var aid = $(this).data('aid') || '';
            if (aid){
                layer.open({
                    type: 2,
                    content: '/album/show/' + aid,
                    area: ['90%', '90%'],
                    title: '相册管理'
                })
            }
       })

})

</script>

{% endblock %}