{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>新建文章</h5>
            </div>
            <div class="ibox-content p-md">
                <form method="get" class="form-horizontal" onsubmit="return false" id="DataForm">
                    <input type="hidden" value="{{ csrf_token() }}" />
                    <input type="hidden" name="posts_id" value="{{ posts[0] }}" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章标题：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="posts_title" value="{{ posts[1] }}" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容简介：</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" name="posts_desc" rows="5" >{{ posts[2] }}</textarea>
                                <span class="help-block m-b-none">输入这篇文章内容概要~</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">填写文章内容：</label>
                            <div class="col-sm-10">
                                <textarea name="posts_content" id="posts_content" rows="20" cols="100" style="width:95%;height:500px;visibility:hidden;">
                                    {{ posts[3] }}
                                </textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                     {% for cty in category %}
                                        <label class="checkbox-inline">
                                        <input type="checkbox" value="{{cty[0]}}" name="posts_category" {% if cty[0] in selected_category %} checked="checked" {% endif %} />
                                            {{ cty[1] }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否发布</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="posts_status"  value="1"  {% if posts[4] =='1' %} checked {% endif %} /> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="posts_status"  value="0" {% if posts[4] =='0' %} checked {% endif %}  /> 否
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否允许评论</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="posts_allow"  value="1" {% if posts[5] =='1' %} checked {% endif %} /> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="posts_allow"  value="0" {% if posts[5] =='0' %} checked {% endif %} /> 否
                                </label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">阅读密码：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="posts_password">
                                <span class="help-block m-b-none">如设置访问密码，则只有正确输入密码后，才允许阅读。</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">置顶操作</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="posts_top"  value="1" {% if posts[6] =='1' %} checked {% endif %} /> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="posts_top"  value="0" {% if posts[6] =='0' %} checked {% endif %} /> 否
                                </label>
                                <span class="help-block m-b-none">多篇文章置顶操作，则按照时间排序，取最晚一篇置顶。</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" id="addPostBtn">保存内容</button>
                            </div>
                        </div>
                    </form>
                    <p align="center"><button class="btn btn-danger closeLayer">关闭窗口</button></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var editor;
    var editor_content = $('#posts_content').val();
    KindEditor.ready(function(K) {
        editor = K.create('#posts_content', {
            uploadJson : "{{url_for('app_image_upload')}}",
            fileManagerJson : '../jsp/file_manager_json.jsp',
            allowFileManager : false
        });

        if(editor_content)
        {
            K.sync('#posts_content');
        }
    });


    $('#addPostBtn').click(function(){
        KindEditor.sync('#posts_content');
        var fd = new FormData(document.getElementById('DataForm'));
        var category = []
        var checkbox = $("#DataForm").find("input[name=posts_category]:checked").each(function(k,v){
            category.push($(this).val())
        })
        if(category){
            fd.append('posts_real_category', category);
        }

        $.ajax({
            url: '{{url_for('article.article_add')}}',
            method: 'POST',
            dataType: 'json',
            cache: false,                      // 不缓存
            processData: false,                // jQuery不要去处理发送的数据
            contentType: false,                // jQuery不要去设置Content-Type请求头
            data: fd,
            success:function(res){
                if(res.code == 0){
                    var index=parent.layer.getFrameIndex(window.name);
                    window.parent.location.reload();
                    parent.layer.close(index);
                }
            }
        })

    })
</script>
{% endblock %}

