{% extends 'base.html' %}

{% block content %}

<style type="text/css">


.RightMenu{
    width: 130px;
    border: 1px #ccc solid;
    background:#FFF;
    padding:2px;
    display: none;
    position:absolute;
}

.RightMenu ul{
    list-style-type:none;
    padding:2px 10px;
}


.RightMenu ul li{
    list-style-type:none;
    padding:5px;
}


.RightMenu ul li a{
    font-size: 12px;
}

</style>
<div class="row animated fadeInRight">
    <div class="col-sm-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建一级菜单</button>
    </div>

</div>
<div class="row animated fadeInRight">
    <div class="col-sm-2">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>节点信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="profile.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="profile.html#">选项1</a>
                        </li>
                        <li>
                            <a href="profile.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="feed-activity-list">
                        <div id="treeNodeDetail">
                           <!--  <p><i class="fa fa-hand-pointer-o"></i> 请点击左侧节点查看信息！</p>  !-->
                            <form method="get" class="form-horizontal">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">父节点名称：</label>
                                    <div class="col-sm-10">
                                        <h3 id="display_parent_name"></h3>
                                    </div>
                                </div>
	                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">节点名称：</label>
                                    <div class="col-sm-10">
                                        <h3 id="display_node_name"></h3>
                                    </div>
                                </div>
	                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单图标：</label>

                                    <div class="col-sm-10">
                                        <h3 id="display_icon"></h3>
                                    </div>
                                </div>
	                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单URL:</label>

                                    <div class="col-sm-10">
                                        <h3 id="display_url"></h3>
                                    </div>
                                </div>
	                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单状态：</label>
                                    <div class="col-sm-10">
                                       <p id="display_module_status"></p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">说明：</label>
                                    <div class="col-sm-10">
                                        <p id="display_des" ></p>
                                    </div>
                                </div>
                                <!--
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit">保存内容</button>
                                        <button class="btn btn-white" type="submit">取消</button>
                                    </div>
                                </div>
                                !-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建一级菜单</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="dataForm" novalidate="novalidate">
                     <div class="form-group">
                        <label class="col-sm-3 control-label">上级节点：</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" name="module_parent" id="module_parent">
                                <option value="0">/</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="module_id" id="module_id"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单名称：</label>
                        <div class="col-sm-8">
                            <input id="module_name" name="module_name" minlength="2" type="text" class="form-control" required="" aria-required="true">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">菜单图标：</label>
                        <div class="col-sm-8">
                            <input id="module_icon" name="module_icon" minlength="2" type="text" class="form-control" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单URL：</label>
                        <div class="col-sm-8">
                            <input id="module_url"  name="module_url" type="text" class="form-control" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">菜单状态：</label>
                        <div class="col-sm-8">
                           <label class="radio-inline">
                              <input type="radio" name="module_status" value="1" checked> 有效
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="module_status" value="0"> 无效
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">说明：</label>
                        <div class="col-sm-8">
                            <textarea id="module_description" name="module_description" class="form-control" required="" aria-required="true"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modelSubmit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 右键弹出菜单 -->
<div class="RightMenu">

</div>

<script type="text/javascript">

var setting = {
                view: {
                    dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
                    showLine: true,//是否显示节点之间的连线
                    fontCss:{'color':'black','font-weight':'bold'},//字体样式函数
                    selectedMulti: false //设置是否允许同时选中多个节点
                },

                check:{
                    chkboxType: { "Y": "", "N": "" },
                    chkStyle: "checkbox",//复选框类型
                    enable: false //每个节点上是否显示 CheckBox
                },
                 edit:{
                    enable: false,
                    editNameSelectAll: true,
                    showRemoveBtn : true,
                    showRenameBtn : true,
                    removeTitle : "remove",
                    renameTitle : "rename"
                },
                async: {
                    enable: true,
                    url:"/auth/tree",
                    autoParam:[],
                    contentType: "application/json",
                    otherParam:{},
                    type: 'post',
                    dataFilter: filter //异步获取的数据filter 里面可以进行处理  filter 在下面
                },
                data: {
                    simpleData: {
                        enable:true,
                        idKey: "id",
                        pIdKey: "pid",
                        rootPId: ""
                    }
                },//个人理解加上这个就能按级别显示，其中的id pid 对应你的实体类
                callback: {
                    onClick: zTreeOnClick,
                    onRightClick: zTreeOnRightClick
                } //这里是节点点击事件
        };

function filter(treeId, parentNode, childNodes) {
    if (!childNodes) return null;
    for (var i=0, l=childNodes.length; i<l; i++) {
        childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
    }
    return childNodes;
}

function zTreeOnClick(event, treeId, treeNode) {
    //alert(treeNode.tId + ", " + treeNode.name);
    $.get('/auth/query/' + treeNode.id, function(res){
        if(res.code == 0){
            $('#display_node_name').html(res.data.module_name)
            $('#display_icon').html(res.data.module_icon)
            $('#display_url').html(res.data.module_url)
            $('#display_des').html(res.data.module_description)
            $('#display_parent_name').html(res.data.module_parent_name)
            if (res.data.module_status == '1'){
                $('#display_module_status').html("<span>有效</span>")
            }else{
                $('#display_module_status').html("<span style='color:#FF0000'>无效</span>")
            }
        }else{
            layer.alert(res.message);
        }
    })
};

function zTreeOnRightClick(event, treeId, treeNode) {


    var parentNode = treeNode.getParentNode()
    if(! parentNode){
        parent_json={'pname':'/', 'pid':0}
    }else{
        parent_json={'pname':parentNode.name, 'pid':parentNode.id}
    }


    var pageX=event.pageX;
    var pageY=event.pageY;

    rightMenuHtml = '';
    rightMenuHtml += '<ul>';
    rightMenuHtml += '<li><i class="fa fa-pencil-square-o"></i> <a href="#" onclick="createNode(\'' + treeId + '\',' + treeNode.id + ',\'' + treeNode.name+ '\'' + ')">' + '新建子节点' + '</a></li>';
    rightMenuHtml += '<li><i class="fa fa-pencil-square-o"></i> <a href="#" onclick="editNode(' + treeNode.id + ')">' + '编辑节点' + '</a></li>';
    rightMenuHtml += '<li><i class="fa fa-pencil-square-o"></i> <a href="#" onclick="deleteNode(\'' + treeId + '\',' + treeNode.id + ')">' +'删除节点' + '</a></li>';
    rightMenuHtml += '</ul>';

    $('.RightMenu').html(rightMenuHtml)

    $('.RightMenu').show().css({'top':pageY, 'left':pageX});

    return false;
};


function editNode(nid){

    $.get('/auth/query/' + nid, function(res){
        if(res.code == 0){

             if(res.data.module_parent > 0){
                parent_name = res.data.module_parent_name;
             }else{
                parent_name = '/';
             }
            $('#dataForm')[0].reset();
            $('#module_parent').children().remove();
            $('#module_parent').append("<option value='" + res.data.module_parent + "'>" + parent_name + "</option>");
            $('#module_parent').prop("disabled", true);
            $('#module_parent').selectpicker('refresh');
            $('#module_parent').selectpicker('render');

            $('#module_name').val(res.data.module_name);
            $('#module_icon').val(res.data.module_icon);
            $('#module_url').val(res.data.module_url);
            $('#module_id').val(res.data.module_id);
            $('#module_description').val(res.data.module_description)

            //set module_status
            if(res.data.module_status ==  "1"){
                 $("input:radio[name=module_status][value=1]").attr("checked",true);
            }else{
                 $("input:radio[name=module_status][value=0]").attr("checked",true);
            }
            $('#myModal').modal('show');
        }
    })
}


function createNode(treeId, nodeId, nodeName){
    $('#dataForm')[0].reset();
    $('#module_parent').children().remove();
    $('#module_parent').append("<option value='" + nodeId + "'>" +nodeName + "</option>");
    $('#module_parent').selectpicker('refresh');
    $('#module_parent').selectpicker('render');

    $('#myModal').modal('show');
}


function deleteNode(treeId, nodeId){
    parent.layer.confirm('确定删除节点吗？', {
        btn: ['确定','取消'], //按钮
    shade: false //不显示遮罩
    }, function(){
        $.post("{{ url_for('admin.auth_delete_node') }}", {'nid': nodeId}, function(res){
            if(res.code == 0){
                var treeObj = $.fn.zTree.getZTreeObj(treeId);
                treeObj.reAsyncChildNodes(null, "refresh");
                parent.layer.msg(res.message, {icon: 1});
            }else{
                parent.layer.msg(res.message, {shift: 6});
            }
        })
    }, function(){
    });
}

$(document).ready(function(){


    $.fn.zTree.init($("#treeDemo"), setting);

});



$(document).click(function(){
    if($('.RightMenu').is(':visible')){
        $('.RightMenu').hide();
    }
})

$('#modelSubmit').click(function(){

    var fd = new FormData(document.getElementById('dataForm'));
     $.ajax({
                url: '{{ url_for('admin.auth_tree_create') }}',
                type: 'POST',
                data: fd,                    // 上传formdata封装的数据
                dataType: 'JSON',
                cache: false,                      // 不缓存
                processData: false,                // jQuery不要去处理发送的数据
                contentType: false,                // jQuery不要去设置Content-Type请求头
                success:function (data) {           //成功回调
                    layer.alert(data.message)
                    $('#dataForm')[0].reset();
                    $('#myModal').modal('hide');
                    var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                    treeObj.reAsyncChildNodes(null, "refresh");
                }
     });
})



</script>
{% endblock %}