{% extends 'blog.html' %}

{% block content %}
<p style="margin-bottom:15px;"><img src="{{ url_for('static', filename='images/php.png') }}"></p>
<div class="content">
	<header class="article-header">
	<h1 class="article-title"><a href="#" title="{{content[1]}}" >{{content[1]}}</a></h1>
	<div class="article-meta">
		<span class="item article-meta-time">
	  		<time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：{{content[5]}}"><i class="glyphicon glyphicon-time"></i> {{content[5]}}</time>
	  	</span>
		<span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{content[9]}}">
			<i class="glyphicon glyphicon-list"></i>
			<a href="#" title="{{content[9]}}" >{{content[9]}}</a>
		</span>
		<span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="浏览量：{{content[7]}}">
			<i class="glyphicon glyphicon-eye-open"></i> {{content[7]}}
		</span>
		<span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量">
			<i class="glyphicon glyphicon-comment"></i>{{content[8]}}
		</span>
	</div>
  </header>
	<div class="infocard">
		{{ content[6] }}
	</div>
	<article class="article-content">
		<div class="posts_content">
			{{ content[4] | safe }}
		</div>
    </article>
	{% if tags %}
	<div class="article-tags">
		标签：
		{% for tag in tags %}
		<a href="#" rel="tag" >{{tag}}</a>
		{% endfor %}
	</div>
	{% endif %}
	<div class="relates">
	<div class="title">
	  <h3>相关推荐</h3>
	</div>
		{% if recommend %}
		<ul>
			{% for recd in recommend %}
		  		<li><a href="/article/{{recd[2] or recd[0]}}" title="{{recd[1]}}" >{{recd[1]}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
  </div>



	<div class="title" id="comment">
	<h3>评论</h3>
	</div>
	<div id="postcomments">
	<ol id="comment_list" class="commentlist">
		<li class="comment-content">
			<span class="comment-f">#2</span>
			<div class="comment-main">
				<p><a class="address" href="#" rel="nofollow" target="_blank">木庄网络博客</a>
					<span class="time">(2016/10/28 11:41:03)</span>
					<br>不错的网站主题，看着相当舒服
				</p>
			</div>
		</li>
		<li class="comment-content">
			<span class="comment-f">#2</span>
			<div class="comment-main">
				<p><a class="address" href="#" rel="nofollow" target="_blank">木庄网络博客</a>
					<span class="time">(2016/10/28 11:41:03)</span>
					<br>不错的网站主题，看着相当舒服
				</p>
			</div>
		</li>
	</ol>
  </div>
  {% if content[13] == '1' %}
  <div id="respond">
	<form id="comment-form" name="comment-form" action="" method="POST">
		<div class="comment">
			<input name="nickname" id="nickname" class="form-control" size="22" placeholder="您的昵称（必填）" maxlength="15" autocomplete="off" tabindex="1" type="text">
			<input name="site" id="site" class="form-control" size="22" placeholder="您的网址或邮箱（非必填）" maxlength="58" autocomplete="off" tabindex="2" type="text">
			<div class="comment-box">
				<textarea placeholder="您的评论或留言（必填）" name="comment-textarea" id="comment-textarea" cols="100%" rows="3" tabindex="3"></textarea>
				<div class="comment-ctrl">
					<div class="comment-prompt" style="display: none;"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text">评论正在提交中...请稍后</span> </div>
					<div class="comment-success" style="display: none;"> <i class="fa fa-check"></i> <span class="comment-prompt-text">评论提交成功...</span> </div>
					<button type="submit" name="comment-submit" id="comment-submit" tabindex="4">评论</button>
				</div>
			</div>
		</div>
	</form>
  </div>
	<script src="{{ url_for('static', filename='js/plugins/layer/layer.min.js') }}"></script>
<script>
	$('#comment-submit').click(function(){
		var nickname = $('#nickname').val();
		var site = $('#site').val();
		var comment_body = $('#comment-textarea').val();
		if( nickname && site && comment_body){
			$.post('{{url_for('app_comment')}}', {'nickname':nickname, 'site':site, 'comment_body':comment_body}, function(res){
				layer.alert(res.message)
			})
		}
	})
</script>
  {% endif %}
</div>

{% endblock %}