
<!-- start footer -->
<div id="footer">
	<p class="links">
		<a href="#" class="rss" title="Subscribe to entries web feed">Entries (<abbr title="Really Simple Syndication">RSS</abbr>)</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#" class="rss" title="Subscribe to comments web feed">Entries (<abbr title="Really Simple Syndication">RSS</abbr>)</a>
		&nbsp;&nbsp;&nbsp;
		<a href="http://www.51qianduan.com//check/referer" class="xhtml" title="This page validates as XHTML">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
		&nbsp;&nbsp;&nbsp;
		<a href="http://www.51qianduan.com//css-validator/check/referer" class="css" title="This page validates as CSS">Valid <abbr title="Cascading Style Sheets">CSS</abbr></a>
	</p>
	<p class="legal">
		&copy;2007 Exposure. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.51qianduan.com//">Free CSS Templates</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a>. </p>
</div>
<!-- end footer -->

<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
