{% extends 'blog.html' %}

{% block content %}
<div class="content">
	<p><img src="{{ url_for('static', filename='images/coffee.png') }}"></p>
	<article class="excerpt-minic excerpt-minic-index">
		<h2><span class="red">【推荐】</span><a target="_blank" href="#" title="用DTcms做一个独立博客网站（响应式模板）" draggable="false">用DTcms做一个独立博客网站（响应式模板）</a>
		</h2>
		<p class="note">用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）</p>
	</article>
	 {% if qy %}
        {% for q in qy %}
			<article class="excerpt excerpt-1" style="">
				<a class="focus" href="/article/{{ q[0] }}" title="{{ q[1] }}" target="_blank" >
					<img class="thumb" data-original="{{ url_for('static', filename='images/article_tag.png')}}" src="{{ q[4] }}" alt="{{ q[5] }}"  style="display: inline;">
				</a>
				<header><a class="cat" href="#" title="{{ q[5] }}" >{{ q[5] }}<i></i></a>
					<h2><a href="/article/{{ q[0] }}" title="{{ q[1] }}" target="_blank" >{{ q[1] }}</a>
					</h2>
				</header>
				<p class="meta">
					<time class="time"><i class="glyphicon glyphicon-time"></i>{{ q[3] }}</time>
					<span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span> <a class="comment" href="##comment" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 4</a>
				</p>
				<p class="note">
					{{ q[2] }}
				</p>
			</article>
        {% endfor %}
		<center>
			<nav aria-label="navigation">
				<ul class="pagination">
				{{ html|safe }}
				</ul>
			</nav>
		</center>
	{% else %}
        <div class="page-header">
          <h1>欢迎光临我的博客！<small>服务清理中，近期未发布文章！</small></h1>
        </div>
	{% endif %}
</div>
{% endblock %}