<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{{ session.get('title') }}</title>
    <meta name="keywords" content="{{ session.get('keywords') }}">
    <meta name="description" content="{{ session.get('description') }}">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/><![endif]-->
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">H+</h1>

            </div>
            <h3>欢迎登录博客管理系统</h3>
            <div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endfor %}
        </div>
            <form class="form-horizontal" method="POST" role="form" action="{{ url_for('app_login') }}">
                {{ form.csrf_token() }}
                <div class="form-group">
                    <label for="username" class="col-sm-4 control-label">{{ form.email.label }}</label>
                    <div class="col-sm-8">
                        {{ form.email(class_="form-control", size=100) }}
                    </div>
                    <div class="col-sm-4">
                        <span style="color: red;">{{ form.email.error }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">{{ form.password.label }}</label>
                    <div class="col-sm-8">
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div class="col-sm-4">
                        <span style="color: red;">{{ form.password.error }}</span>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                      <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                              {{ form.remember_me(value='True') }} {{ form.remember_me.label }}
                            </label>
                        </div>
                    </div>
                </div>

                <p>{{ form.submit(class_="btn btn-primary block full-width m-b") }}</p>

                <p class="text-muted text-center">
                    <a href="login.html#">
                        <small>忘记密码了？</small>
                    </a>
                    |
                    <a href="{{ url_for('app_register') }}">注册一个新账号</a>
                </p>

            </form>
        </div>
    </div>

        <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    </body>
</html>
