<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

      <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <h2>以梦为马</h2>
        <p>
            一直坚信，<b>越努力，越幸运！</b>
        </p>

    </div>
</div>



<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

<script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/plugins/layer/layer.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/hplus.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/contabs.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>
</body>
</html>